@import url(./style.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

*{
    font-family: Georgia, serif;
}

body {
    background-image: url('../images/bg1.png');
    background-size: cover;
}

h1,h2,h3,h4,h5,h6,p{
    flex-wrap: wrap;
}

p{
    font-weight: 500;
}

.adForProduct{
    background-color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 1rem;
    margin: 10px;
    align-self: center;

    background-image: url('../images/OPlogok.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.adForProduct h3{
    margin: 0;
}

.img-row{
    display: flex;
    flex-wrap: wrap;
    margin:12px;
    align-items: center;
}

.input-row{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    align-self: center;
}

.input-row input{
    display: flex;
    flex: 1 0 150px;
    flex-wrap: wrap;
    font-size: 16px;
    color: #000;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    padding-top: 1em;
    background: transparent;
}

.item-img{
    max-height: 200px;
    text-align: center;
}

textarea{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    text-align: start;
    color: #232523;
    background-color: transparent;
    align-self: flex-end;
}

.adForProduct .form-button{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
    margin: 20px;
    border: none;
    outline: none;
    background:#4db151;;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
}

.adForProduct .form-button:hover{
    background-color: #3e8e41;
    color: white;
}

