@import url(./style.css);

body {
    color: black !important;
}

h1,h2,h3,h4,h5,h6,p,span,i {
    color: black !important;
    flex-wrap: wrap;
    text-align: center;
}

button {
    background-color: #29BF3A;
    border-color: transparent;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;
    padding: 0.5em;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.3em;
}

button > i{
    color: white !important
}

.card {
    box-shadow: 4px 4px 20px -8px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    padding: 1rem;
    margin: 10px;
    align-self: center;
    align-items: center;
}


