@import url(./flex-grid.css);
@import url(./helpers.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

body {
    color: black !important;
}

h1,h2,h3,h4,h5,h6,p,span,i {
    color: black !important;
    flex-wrap: wrap;
}
button {
    background-color: #29BF3A;
    border-color: transparent;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    border-radius: 0.3em;
}

button > i{
    color: white !important
}

.star-colored {
    color: gold !important;
}
.review-image {
    width: 4rem;
}

.user-card {
    box-shadow: 4px 6px 25px -8px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    padding: 1rem;
    margin: 10px;
    align-self: center;
}
.user-image {
    width: 200px;
}
.item-img{
    width: 100px;
}
.item-row{
    background-color: lightgray !important;
    border-radius: 10px !important;
    padding: 5px !important;
    vertical-align: middle;
}
  
#addProduct{
    position: fixed;
    bottom: 10px;
    right: 550px;
}

span{
    vertical-align: middle;
}
