@import url(./flex-grid.css);
@import url(./helpers.css);

*{
    font-family: Georgia, serif;
}

body {
    background-image: url('../images/bg1.png');
    background-size: cover;
}

h1,h2,h3,h4,h5,h6,p{
    color: black !important;
    flex-wrap: wrap;
}

p{
    font-weight: 500;
}

.addForm {
    background-color: #fff;
    border-radius: 15px;
    padding: 1rem;
    margin: 10px;
    align-self: center;
}
.input-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 20px;
    text-align: left;
}

label{
    flex: 1 0 160px;
    font-size: 17px;
    vertical-align: top;
}

.input-box{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    min-height: 25px;
    min-width: 200px;
    color: #232523;
    background-color: whitesmoke;
    border-color: transparent;
    align-self: flex-end;
}

.image-input{
    display: flex;
    flex: 1 0 150px;
    font-size: 14px;
    min-height: 25px;
    color: #232523;
    background-color: whitesmoke;
    border-color: transparent;
}

textarea{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    text-align: start;
    color: #232523;
    background-color: whitesmoke;
    border-color: transparent;
    align-self: flex-end;
}

.addForm .form-button{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
    margin: 20px;
    border: none;
    outline: none;
    background:#4db151;;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
}

.addForm .form-button:hover{
    background-color: #3e8e41;
    color: white;
}


