@import url(./style.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

h1,h2,h3,h4,h5,h6,p,span,i {
    flex-wrap: wrap;
}

h1,h2,h3,h4{
    font-family: Candara;
    text-transform: capitalize;
    vertical-align: middle;
}

.heading{
    flex: 1;
    padding: 0.2rem;
}

.heading h1{
    font-family: Candara;
    margin:0.3em 0;
    font-size: 27px;
    text-align: center;
}

#title{
    text-align:left; 
    padding: 0 1.2em; 
    margin: auto;
    font-size: 20px;
    color: black;
}

fieldset {
    background-color: #ffffff;
    border-radius: 10px;
    margin: auto;
    padding: 1em 1em 2em;
}
  
legend {
    background-color: white;
    color: black;
    padding: 5px 10px;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color:#FDFEFE;
    margin: auto;
    align-self: center;
    text-align: center;
}

.image {
    display: block;
    padding: 0 1em;
    text-align: center;
    height: 190px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.card-button {
    background-color: #000;
    color: #fff;
    font-family: Candara;
    font-size: 1em;
    cursor: pointer;
    justify-content: center;
    padding: 0.6em 0;
    min-width:200px;
    text-align: center;
    white-space: nowrap;
}

.card-button:hover{
    background-color: #505554;
    color: white;
}

.item-img{
    width: 100px;
    padding: 0;
}

.red-button{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
    margin: 20px;
    border: none;
    outline: none;
    background:#db242e;
    padding: 0.5em 1em;
    cursor: pointer;
    color: #fff;
    font-size: 0.9em;
    border-radius: 20px;
}

.red-button:hover{
    background-color: #e44850;
    color: white;
}

.green-button{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
    margin: 20px;
    border: none;
    outline: none;
    background:#138D75;
    padding: 0.5em 1em;
    cursor: pointer;
    color: #fff;
    font-size: 0.9em;
}

.green-button:hover{
    background-color: #1cc4a2;
    color: white;
}

button > i{
    color: white !important
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}

th{
    font-family: Candara;
    font-size: 18px;
    padding:0 0.5em;
    background-color:rgb(241, 238, 238);
}

th, td {
    padding: 8px 1em; ;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td{
    font-family: sans-serif;
    font-size: 14px;
}

td a{
    color: #3c3e3f;
    font-weight: 400; 
}

tr:hover {
    background-color:#f5f5f5;
}

.tab{
    align-items: center;
    border:1px solid rgb(245, 245, 245);
    
}

.tabButton{
    display: inline-block;
    font-family: Candara;
    border: none;
    outline: none;
    background-color: rgb(245, 245, 245);
    color: black;
    padding: 22px 16px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.tabButton:hover{
    background-color: #ddd;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

.tabButton.active {
    background-color: #c4c5c5;
    color: #000;
}

.vl {
    float: left;
    border-left: 1px solid rgb(22, 7, 104);
    height: 540px;
}

.user th{
    background-color: #fff;
    font-size: medium !important;
}

/* details */
.update-box{
    font-size: large;
}

.update-box .input-s{
    font-size: medium;
    color: rgb(129, 129, 182);
    width: 6vw;
    border-radius: 7px;
    border: 2px solid grey;
    float: center;
    padding: 0.3vw 1vw;
    margin: 3px 5px;
}

.update-box .input-m{
    font-size: medium;
    color: rgb(129, 129, 182);
    width: 8vw;
    border-radius: 7px;
    border: 2px solid grey;
    float: center;
    padding: 0.3vw 1vw;
    margin: 3px 5px;
}


.update-box .input-l{
    font-size: medium;
    color: rgb(129, 129, 182);
    width: 280px;
    border-radius: 7px;
    border: 2px solid grey;
    float: center;
    padding: 0.3vw 1vw 0.3vw 1vw;
    margin: 3px 5px;
}

.update-box th{
    background-color: #fff !important;
    color: #5e6566;
    padding: 0.75vw 0 0.75vw 0.4vw;
    margin: auto;
    align-content: left;
    text-align: left;
    font-weight: 400;
}

.update-box td{ 
    padding-top: 0.75vw;
    margin-left: 0;
    padding-left: 0;
}

::placeholder {
    opacity: 0.7;
}

.img-row{
    display: flex;
    flex-wrap: wrap;
    margin:12px;
    align-items: center;
}

.input-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 20px;
    text-align: left;
}

label{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    font-size: 17px;
    vertical-align: top;
    padding: 0 1em;
    font-family: Candara;
}

.input-box{
    display: flex;
    flex: 1 150px;
    flex-wrap: wrap;
    font-size: 14px;
    min-height: 25px;
    min-width: 250px;
    color: #232523;
    background-color: whitesmoke;
    border-color: transparent;
    align-self: flex-end;
}

.form-button{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
    margin: 20px;
    border: none;
    outline: none;
    background:#138D75;
    padding: 0.7em 1.2em;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
}

.form-button:hover{
    background-color: #1cc4a2;
    color: white;
}

.user-image {
    width: 60px;
    border-radius: 50%;
    margin-bottom: 0.3em;
    padding: 0;
}

