@import url(./style.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

h1,h2,h3,h4,h5,h6,p,span,i {
    flex-wrap: wrap;
}

#title{
    text-align:left; 
    padding: 0 1.2em; 
    font-family:Candara; 
    margin: auto;
    font-size: 27px;
    color: black;
}

.bid-card {
    box-shadow: 4px 6px 25px -8px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    padding: 1rem;
    margin: 0.5rem;
    align-self: center;
    text-align: left;
}

#seller-info h3{
    margin: 0.1em 0;
    padding-bottom: 2px;
}

.seller-info a{
    font-size: 10px;
    text-align: left;
}

.star-colored {
    color: gold !important;
}

#ab{
    text-decoration: none;
    color:#138D75; 
    font-size:12px; 
    text-align:left;
}

.sub{
    font-family: Candara;
    font-size: 1.2em;
    color: #909497;
    text-transform: uppercase;
    padding-bottom: 0%;
    margin-bottom: 0;
}

#best-bid{
    background-color: #E8F6F3;
    padding: 1.1em 0.1em;
    text-align: left;
    /* color: white; */
}

/* #best-bid h2{
    font-family: Candara;
    font-size: 1.6em;
} */

#best-bid p{
    font-size: 1.2em;
}

.best-bid-dp{
    float: left;
    border-radius: 100%;
    text-align: center;
    max-height: 60px;
    cursor:pointer;
    margin:5px 10px 0 10px;
} 

.coin-img{
    float: left;
    text-align: center;
    max-height: 35px;
    cursor:pointer;
    margin:5px 10px;
    padding-top: 0;
}

.item-image {
    width: 320px;
    padding: 1em;
    margin: auto;
    text-align: center;
}

#best-bid h2{
    font-size: 1.6em;
    text-align: left;
    padding-left: 0.4em;
}

#other-bids{
    background-color:#F2F4F4;
    margin: auto;
    padding: 0.1em 1em;
    text-align: left;
}

#other-bids h2{
    font-size: 1.6em;
    text-align: left;
    padding-left: 0.4em;
}

#other-bids p{
    text-align: left;
    padding-left: 0.4em;
}

.user-dp{
    float: left;
    border-radius: 100%;
    text-align: center;
    max-height: 45px;
    cursor:pointer;
    margin:0 10px ;
} 

hr{
    margin: 0%;
    padding: 0%;
    color: #909497;
    text-align: center;
}

.form-button,button,input[type=submit] {
    background-color: #138D75;
    border-color: transparent;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    margin: 1em;
    text-align: center;
    white-space: nowrap;
    border-radius: 25px;
}

.form-button:hover,button:hover{
    background-color: #1cc4a2;
    color: white;
}


.input-box{
    font-size: 16px;
    padding: 0 1em;
    margin: 5px 10px;
    min-height: 40px;
    max-width: 180px;
    color: #171817;
    background-color: rgb(236, 236, 236);
    border-color: transparent;
    border-radius: 25px;
}

.input-box::placeholder{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.75);
}

/* Bid win popup */
/* Popup box BEGIN */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.content p{
    padding: 0;
    margin: 0;
}

.popup-pic{
    margin:0 12em 1em;
    text-align: center;
    height: 70px;
    width:70px;
} 

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
  
@media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
}
/* Popup box END */

span{
    position: relative;
    right:50px;
}

.invisibutton {
    height: 1px;
    width: 1px;
    display: none;
    color: (blue);
    cursor: pointer;
}



