@import url(./style.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

h1,h2,h3,h4,h5,h6,p,span,i {
    flex-wrap: wrap;
}

h1,h2,h3,h4{
    text-transform: capitalize;
}

#title{
    text-align:left; 
    padding: 0 1.2em; 
    margin: auto;
    font-size: 20px;
    color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}

th{
    font-family: Candara;
    font-size: 20px;
    padding:0 0.5em;
    background-color:rgba(19, 141, 117, 0.2);
}

th, td {
    padding: 8px 1em; ;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td{
    font-family: sans-serif;
    font-size: 14px;
}

td a{
    color: #3c3e3f;
    font-weight: 400; 
}

tr:hover {
    background-color:#f5f5f5;
}
  
tr:nth-child(even) {
    background-color: #F8F9F9;
}

a{
    color: #3c3e3f;
    font-weight: 400; 
}

#toTopBtn {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #CACFD2;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}
  
#toTopBtn:hover {
    background-color: #138D75;
}