@import url(./style.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

h1,h2,h3,h4,h5,h6,p,span,i {
    flex-wrap: wrap;
}

button {
    background-color: #29BF3A;
    border-color: transparent;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    border-radius: 0.3em;
}

button > i{
    color: white !important
}

.item-row{
    background-color: #caf3cf !important;
    border-radius: 10px !important;
    padding: 5px !important;
    vertical-align: middle;
}
