html {
    height: 100%;
} 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('../images/bg_deli.jpg');
    background-size: cover;
    backdrop-filter: brightness(60%); 
}

a{
    position: relative;
    top: 0px; 
    left: 5px; 
    text-decoration: none;
    display: flex;
    padding: 6px 11px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.login{
    display: flex;  
    flex-direction: column;
    position: relative;
    margin: 1%;
    width: 36%;
    padding: 42px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
   
}

.login h2{
    margin: 0 0 0px;
    padding: 0px;
    color: #fff;
    text-align: center;
    font-family: Helvetica;

}

p{
    color: #B6B2B1;
    text-align: center;
    margin: 15px;
}

.login .inputBox{
    position: relative;
}

.login .inputBox input{
    width: 90%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 18px;
    margin-left: 4%;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login .inputBox label{
    position: absolute;
    top: 0;
    left: 0;  
    padding: 10px 0;
    margin-left: 5.5%;
    font-size: 16px; 
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login .inputBox input:focus ~ label,
.login .inputBox input:valid ~ label{
    top: -22px;
    left: 0;
    color: #03a9f4;
    font-size: 14px;
} 

.login .button{
    margin-top: 10px;  
    margin-left: 18%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background:#138D75;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-flex;
    font-size: 16px;
}

.login .button:hover{
    background-color: #3e8e41;
    color: white;
}



.login .form-check-inline label{
    display: inline-flex;
    margin-left: 5px;
    font-size: 17px;
    color: #fff;
}

.previous {
    font-size: 20px;
    color: white;
}

.round {
    border-radius: 50%;
} 
.input-row label, ::placeholder{
   margin-top: 5px;
    margin-right: 5px;
}

select {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    width: 150px;
    padding: 3px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: white;
    min-height: 25px;
    min-width: 100px;
}

select option{
    color: black;
    padding: 5px;
    background-color: whitesmoke;
}

select option:hover{
    background-color: rgb(197, 196, 199);
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}
@import url(./style.css);

*{
    font-family: Arial;
}


.input-row{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    align-self: center;
}


.input-row input{
    display: flex;
    flex: 1 0 150px;
    flex-wrap: wrap;
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
