*,*:before,*:after{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
    display: grid;
    font-size: 14px;
}
footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
    color: #fff;
    background-image: url('../images/footer.jpg');
    background-size: cover ;
    background-repeat: repeat-y;
    filter: brightness(0.9);
}
.footer > *{
    flex: 1 100%;
}
.l-footer{
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-bottom: 2em;
}
h2{
    font-weight: 600;
    font-size: 16px;
}
.footer ul{
    list-style: none;
    padding-left: 0;
}
.footer li{
    
    padding-bottom:1em;
}
.footer a{
    text-decoration: none;
}
.r-footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}
.r-footer > *{
    flex: 1 50%;
    margin-right: 1.25em;
    margin-left: 1.25em;
}

.r-footer h2{
    color: white;
}

.box a{
    text-decoration: none;
    color: white;
}
.h-box{
    column-count: 2;
    column-gap: 1.25em; 
}
.b-footer{
    text-align: center;
    color: white;
    padding-top: 50px;
}
.l-footer p{
    padding-right: 20%;
    color: white;
}
.logo-image{
    height: 50px;
}
@media screen and (min-width: 600px) {
    .r-footer > *{
        flex: 1;
    }
    .features{
        flex-grow: 2;
    }
    .l-footer{
        flex: 1 0px;
    }
    .r-footer{
        flex: 2 0px;
    }    
}