@import url(./style.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0/css/font-awesome.min.css");

.heading{
    flex: 1;
    background-color:#138D75;
    padding: 0.1rem;
}

.heading h1{
    margin-bottom:0.2em;
    font-size: 30px;
    text-align: center;
    color: white;
}

.tab{
    align-items: center;
}

#tab-button{
    border: none;
    border-color: rgb(149, 192, 169);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

#tab-button:hover{
    border-color: rgb(149, 192, 169);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

.mainbutton {
    background-color: #138D75;
    border-color: transparent;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 2em;
    padding-right: 2em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    border-radius: 0.3em;
    margin: 1.5em;
}

button > i{
    color: white !important
}

.tags{
    display: flex;
    place-items: center;
    justify-content: center;
}

.tags ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
}
  
.tags li a {
    border-radius: 50px;
    background-color:#b3dbd3;
    display: block;
    color: #000;
    padding: 8px 12px;
    margin-bottom: 1em;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
.tags li a:hover {
    background-color:#138D75;
    color: white;
}

.content{
    align-self: center;
    justify-content: center;
    margin-right: 1.5em;
    padding: 0 1em;
}

.user-image {
    width: 4rem;
    margin-top: 1.5em;
    padding: 0;
}

textarea{
    border: none;
}