@import url(./style.css);

body {
    background-image: url('../images/bg1.png');
    background-size: cover;
}

h1,h2,h3,h4,h5,h6,p{
    flex-wrap: wrap;
}

p{
    font-weight: 500;
}

label{
    text-align: left;
    flex: 1 0 100px;
    font-size: 18px;
}

.updateForm {
    background-color: #fff;
    border-radius: 15px;
    padding: 1rem;
    margin: 10px;
    align-self: center;
}
.input-row{
    display: flex;
    flex-wrap: wrap;
    margin: 12px;
    text-align: left;
}

.input-box{
    display: flex;
    flex: 1 0 150px;
    flex-wrap: wrap;
    font-size: 15px;
    margin: 0px 10px;
    min-height: 30px;
    color: #232523;
    background-color: whitesmoke;
    border-color: transparent;
}

.img-row{
    display: flex;
    flex-wrap: wrap;
    margin:12px;
    align-items: center;
}

.image-input{
    display: flex;
    margin-left:12px;
    align-self: center;
    font-size: 14px;
    min-height: 25px;
    color: #232523;
    background-color:transparent;
    border-color: transparent;
}

.user-img{
    max-height: 100px;
    
}

.updateForm .form-button{
    display: inline-flex;
    flex-wrap: wrap;
    white-space: nowrap;
    margin: 20px;
    border: none;
    outline: none;
    background:#4db151;;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
}

.updateForm .form-button:hover{
    background-color: #3e8e41;
    color: white;
}

span{
    font-size: 14px;
    padding: 5px;
}


