* {
    box-sizing: border-box;
}
body {
    font-family:Candara;
    line-height: 1.6;
    margin: 0;
    min-height: 90vh;
    
}

ul {
    margin: 0;
    padding: 0;
    color:black;
    list-style: none;
    
}

.header {
    font-family:Candara;
    display:flex;
    top: 0; 
    z-index:4;   
    padding: 5px 1.5%;
    width: 100%;
    background-color: transparent;
}

.logopic{
    margin:auto;
    margin-top:2px;
    padding-bottom:0;
    margin-bottom:0;
    cursor: pointer;
    max-height:40px;
}

.main-nav a {
    text-decoration: none;
    display: block;
    padding: 0px 15px;
    margin:auto;
    text-align: center;
    color:black;
    font-family: Candara;
    font-weight:500;               
    font-size: 1.2rem;
}

.main-nav a:hover {
    color: #A2D9CE;
}

.loginbtn {
    background-color: #138D75;
    border-color: transparent;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    justify-content: center;
    margin: 0 1em;
    padding: 0.4em 1em;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.3em;
}

button > i{
    color: white !important
}

.notifbtn {
    background-color: transparent;
    border-color: transparent;
    margin:0 1em 0 1px;
    padding: 0.4em 1em 0.4em 0.2em;
    font-family: Candara;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    color:black;
}
/* <i class=\"fa fa-bell\" style=\"font-size:16px; color:black; margin-left:1em; margin-right:0; padding-right:0;\"></i> */

.dp{
    border-radius: 100%;
    max-height: 40px;
    cursor:pointer;
    margin:0;
    padding: 0.3em 0 0 0;
} 

.dropdown {
    position: relative;
    display: inline-block;
}

#notifDrop{
    min-width: 250px !important; 
}
#notifDrop a{
    text-align:right;
    font-size:14px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right:10%;
    background-color: #F4F6F6;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius:5px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    padding: 5px 16px;
}

.show {display: block;}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ================================= 
Media Queries
==================================== */

@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
        align-items:center;
        
    }
    .header {
        flex-direction: column;
        align-items: center;
        .header{
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}