@import url(./style.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

* {
    box-sizing: border-box;
}
body {
    line-height: 1.6;
    margin: 0;
    min-height: 90vh;
}

ul {
    margin: 0;
    padding: 0;
    color:black;
    list-style: none;
}

.header {
    display:flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 4;
    padding: 5px 1.5%;
    border-bottom: 1px solid #D7DBDD;
    width: 100%;
    background-color: white;
}

.index-header {
    display:flex;
    top: 0;
    z-index: 4;
    padding: 5px 1.5%;
    width: 100%;
}

.logopic{
    margin:auto;
    margin-top:2px;
    padding-bottom:0;
    margin-bottom:0;
    cursor: pointer;
    max-height:40px;
}

input[type=text] {
    width: 160px;
    max-height: 30px;
    box-sizing: border-box;
    border-color: transparent;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1px;
    margin-right:0;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 0px; 
    background-repeat: no-repeat;
    padding: 12px 20px 5px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
  
input[type=text]:focus {
    outline-width: 0;
    /* width: 80%; */
}

form .searchbtn{
    float: right;
    min-width:30px !important;
    max-height: 30px;
    background: #138D75;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.main-nav a {
    text-decoration: none;
    display: block;
    padding: 0px 15px;
    margin:auto;
    text-align: center;
    color:black;
    font-family: Candara;
    font-weight:500;               
    font-size: 1.2rem;
}

.main-nav a:hover {
    color: #A2D9CE;
}

.loginbtn {
    background-color: #138D75;
    border-color: transparent;
    color: #fff;
    font-family: Candara;
    font-size: 1.1rem;
    cursor: pointer;
    justify-content: center;
    margin: 0 1em;
    padding: 0.4em 1em;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.3em;
}

button > i{
    color: white !important;
}

.notifbtn {
    background-color: transparent;
    border-color: transparent;
    margin:0 1em 0 1px;
    padding: 0.4em 1em 0.4em 0.2em;
    font-family: Candara;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    color:black;
}
/* <i class=\"fa fa-bell\" style=\"font-size:16px; color:black; margin-left:1em; margin-right:0; padding-right:0;\"></i> */
.notifbtn:hover {
    background-color:transparent;
}
.dp{
    border-radius: 100%;
    max-height: 40px;
    cursor:pointer;
    padding: 0.3em 0 0 0;
    margin:0;
} 

.nav-dropdown {
    position: relative;
    display: inline-block;
}

#notifDrop{
    min-width: 250px !important; 
}
#notifDrop a{
    text-align:right;
    font-size:14px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right:10%;
    background-color: #F4F6F6;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius:5px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    padding: 5px 16px;
}

.show {display: block;}

.nav-dropdown:hover .dropdown-content {
    display: block;
}

/* ================================= 
Media Queries
==================================== */

@media (min-width: 769px) {
    .header,.index-header,
    .main-nav {
        display: flex;
        align-items:center;
        
    }
    .header,.index-header {
        flex-direction: column;
        align-items: center;
        .header{
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }

}

@media (min-width: 1025px) {
    .header,.index-header {
        flex-direction: row;
        justify-content: space-between;
    }
}