@import url(./style.css);

body {
    font-family: Georgia, serif;
    background-color: #FFFFFF;
}
    
/* slideshow css starts here */
.slideshow-container{
    background-color: #040316;
    display: flex;
    float: right;
}
.text h1{
    color:white;
    font-family: 'Helvetica';
    font-weight: normal;
    margin-bottom: -5%;
    padding:0px;
}
.text p{
    color:white;
    font-family: 'Helvetica';
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0px;
    padding:0px;
}

.advertisements {
    display: none;
    display: flex;
    width: 27%;
    height: 200px;
    max-height: 100%;
    margin: 2%;
    z-index: 9999; 
    padding: 1%; 
    filter: brightness(90%);     
}

.promotions{
    display: none;
    display: flex;
    width: 27%;
    height: 200px;
    max-height: 100%;
    z-index: 9998;  
    margin-top: 2%;
    padding: 1%; 
    filter: brightness(90%);    
}

    
.slideshow-container > div > img {
    height: 100%;
    width: 100%;
}

.active {
    background-color: #717171;
}
    
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 15s;
    animation-name: fade;
    animation-duration: 15s;
}
    
@-webkit-keyframes fade {
    from {opacity: 0.7} 
    to {opacity: 1}
}
    
@keyframes fade {
    from {opacity: 0.99} 
    to {opacity: 1}
}
    
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
/* slideshow css ends here */

/* search-box css starts here */
.search-box{
    display: flex; 
    height: 40px;
    width: 40%;
    background: white;
    top: 1.5%;
    left:21%;
    text-align: center;
    border-radius: 5px;
    z-index: 99999;  
    color:white;
    background: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    border-radius: 10px rgba(0, 0, 0, 0.6);;
    position:absolute;

}

    /* search text */
::placeholder { 
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    opacity: 1;
}

      /* input inside search*/
.search-input{
    margin-left: -1%;
    height: 100%;
    width: 87%;
    border: none;
    outline: none;
    padding: 0 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
   background: rgb(187, 187, 187,0.5);
    box-sizing: border-box; 
}
/*clickable filter box*/
.filter-box{
    margin-top: 0%;
    margin-left: 0%;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    background-color: rgb(187, 187, 187,0.5);
    cursor: pointer;
    height: 100%;
    width: 18%; 
    border-style: solid;
    border-color:  rgb(187, 187, 187,0.5);
    
}

/*filters text*/
.filter-text{
    margin-top: 2%;
    margin-left: -15%;
    color: #000000;
    font-size: 18px;
    font-family: Helvetica;
}

.filter-box::before{
    content: "";
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color:  #000000 transparent;  
    position: absolute;
    top: 40%;
    left: 13.5%;
}

/*dropdown filter box*/
.dropdown{  
    margin-left: -95%;
    margin-top: 7%;  
    display: inline-block;  
    list-style:none;
    background-color: rgb(187, 187, 187,0.5);
}

.ul-class{
    display:none;
    overflow:auto;
    background-color: rgb(187, 187, 187,0.5);
}

.ul-class ul{
    background-color: rgb(187, 187, 187,0.5);
    position: absolute;  
    width: 10.5%;
    border-radius: 0 0 10px 10px; 
}
/*     
.ul-class ul li{
    padding: 20px 0px 20px 0px;
    font-size: 18px;
}/*search icon*/
      
.dropdown-input{  
    display: flex;
    padding:5px;
    margin: 10px 20px;
    min-width: 100px;
    height:30px;
    color:  #000000;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
}
.show {display: block;}
      
/*search icon*/
.search-button{  
    background: transparent;
    margin-left: 87.3%;
    width: 8%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.icon{   
    margin-left: 0%;
    color: black;
    z-index: 1; 
    font-size: 18px;
    cursor: pointer;
}
      
.search-icon span{
    position:relative;
    top:-40px;
    left: 2%;  
    width: 55px;
    margin-top: 0%;
    margin-left: 3px;  
}
    
/*product container starts here*/
.items-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
}

.items-container::after{
    content:"";
    flex:auto;
    }

.items-container div{
    margin: 25px;
    border: 1px #ccc solid;
    padding: 15px;
}

.block{
    text-align: center;
}

.block h3{
    margin:auto;
}

.block img{
    height: 180px;
    width: 180px;
    text-align: center; 
    margin: auto; 
}

.show{
    display:block;
}

@media (max-width: 1025px) {
    .items-container{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin:50px;
    }
    .items-container::after{
        content:"";
        flex:auto;
        margin:auto;
    }

}

/*@media(max-width:769px){
    .items-container{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin:100px;
        
    }
    .items-container::after{
        content:"";
        flex:auto;
        margin:100px;
    }
}*/

@media(max-width:480px){
    .items-container{
        justify-content: space-around;
        flex-direction: column;
        margin:70px;
    }
    .items-container::after{
        content:"";
        flex:auto;
        margin:auto;
    }
}