@import url(./style.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

h1,h2,h3,h4,h5,h6,p,span,i {
    flex-wrap: wrap;
}

h1,h2,h3,h4{
    text-transform: capitalize;
    font-family: Candara;
}

.heading{
    flex: 1;
}

#title{
    text-align:left; 
    padding: 0 30px; 
    font-family: Candara; 
    color: #138D75;
    margin:auto;
}

button {
    background-color: #138D75;
    border-color: transparent;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    margin-left: 1.5em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    border-radius: 0.3em;
}

button > i{
    color: white !important
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color:#FDFEFE;
    padding: 0 1em 1em 1em;
    margin: 1em;
    align-self: center;
    text-align: left;
}

.user-image {
    margin-top: 0;
    width: 200px;
    vertical-align: middle;
    border-radius: 50%;
}

.star-colored {
    color: gold !important;
}

.review-image {
    width: 4rem;
    vertical-align: center;
}

.item-img{
    width: 100px;
}
.item-row{
    background-color: #E5E7E9!important;
    padding: 5px !important;
    vertical-align: middle;
}
  
#addProduct{
    text-align: right;
    margin: 2.3em;
}

span{
    vertical-align: middle;
}

textarea{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    text-align: start;
    color: #232523;
    background-color: whitesmoke;
    border-color: transparent;
    align-self: flex-end;
}
.mapouter{
    position:relative;
    width: 100%;
    height: 150%;  
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width: 100%;
    height: 150%; 
}

/* fieldset {
    border-style:solid;
    border-color: #138D75;
    border-radius: 17px;
    
    align-self: center;
}

fieldset legend{
    text-align: left;
    
    font-size: 30px;
    font-weight: 500;
    font-family: Candara;
    color: #138D75;
} */

